server:
  port: 8080

spring:
  h2:
    console.enabled: true
  jpa:
    properties:
      show-sql: true
      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
        dialect: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  datasource:
      url: jdbc:h2:mem:testdb
      driverClassName: org.h2.Driver
      username: sa
      password: password


#    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=letscode
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver